In [33]:
import pandas as pd

* State the Manufacturer in the mfg variable.

In [34]:
mfg = 'REC'
mfg

'REC'

* Enter the models into the models list.

In [35]:
models = ['TP4', 'NP3', 'AA-PURE-R']
models_series = pd.Series(models)
models_series

0          TP4
1          NP3
2    AA-PURE-R
dtype: object

* Enter the wattage ratings in the watt_class list.
    - watt_class needs to be cleaned up...
    - what if there is more than one rating in a specific model?

In [36]:
watt_class = [365, 400, 420]
watt_class_series = pd.Series(watt_class)
watt_class_series

0    365
1    400
2    420
dtype: int64

* Enter the cost per watt price points in the cost_watt list.
    - cost_watt needs to be cleaned up...
    - what if there is more than one rating in a specific model?
    - what if there is a different cost for each rating in a specific model?

In [37]:
cost_watt = [0.68, 0.71, 0.88]
cost_watt_series = pd.Series(cost_watt)
cost_watt_series

0    0.68
1    0.71
2    0.88
dtype: float64

1. The cost_unit variable is multiplying the watt_class data and cost_watt data, then returning it into the cost_unit_series.

In [38]:
cost_unit = watt_class_series * cost_watt_series
cost_unit_series = pd.Series(cost_unit)
cost_unit_series

0    248.2
1    284.0
2    369.6
dtype: float64

* Create the df_data dictionary out of all the series that were previously created; then create a DataFrame table out of the df_data dictionary.

In [39]:
df_data = {'Model': models_series, 'Rating': watt_class_series, 'Cost/W': cost_watt_series, 'Cost/ea': cost_unit_series}
df_table = pd.DataFrame(df_data)
df_table

       Model  Rating  Cost/W  Cost/ea
0        TP4     365    0.68    248.2
1        NP3     400    0.71    284.0
2  AA-PURE-R     420    0.88    369.6

* Reformat the DataFrame to list the manufacturer for each row.

In [40]:
df_table_2 = df_table.rename(index=lambda x: mfg)
df_table_2

         Model  Rating  Cost/W  Cost/ea
REC        TP4     365    0.68    248.2
REC        NP3     400    0.71    284.0
REC  AA-PURE-R     420    0.88    369.6