In [ ]:
import pandas as pd

In [364]:
a = 'REC'

In [365]:
b = ['TP4', 'NP3', 'AA-PURE-R']
b_series = pd.Series(b)
b_series

0          TP4
1          NP3
2    AA-PURE-R
dtype: object

In [366]:
c = [365, 400, 420]
c_series = pd.Series(c)
c_series

0    365
1    400
2    420
dtype: int64

In [367]:
d = [0.68, 0.71, 0.88]
d_series = pd.Series(d)
d_series

0    0.68
1    0.71
2    0.88
dtype: float64

In [368]:
cd = c_series * d_series
cd_series = pd.Series(cd)
cd_series

0    248.2
1    284.0
2    369.6
dtype: float64

Create REC dataframe

In [369]:

df_data = {'Model': b_series, 'Rating': c_series, 'Cost/W': d_series, 'Cost/ea': cd_series}
df_table = pd.DataFrame(df_data)
df_table

       Model  Rating  Cost/W  Cost/ea
0        TP4     365    0.68    248.2
1        NP3     400    0.71    284.0
2  AA-PURE-R     420    0.88    369.6

In [370]:
df_table_2 = df_table.rename(index=lambda x: a)
df_table_2

         Model  Rating  Cost/W  Cost/ea
REC        TP4     365    0.68    248.2
REC        NP3     400    0.71    284.0
REC  AA-PURE-R     420    0.88    369.6